<div class="card text-center">
  <div class="card-header">
    <h5>
      <%= restaurant.name %>
    </h5>
    category: (<%= restaurant.category %>)
  </div>
  <div class="card-body">
    address: <%= restaurant.address %>
  </div>
  <div class="card-footer">
    phone number: <%= restaurant.phone_number %>
  </div>
</div>
